
# sslt email use 


DATABASE_URL=

PORT=

# image hosing in cloudinary 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=


# node mailer

APP_USER=
APP_PASSWORD=
APP_URL=  // Backend domain use this line



# jwt 

JWT_SECRET=


FRONTEND_URL=    // frontend domain use this line
